@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
}
main {
  margin-top: 10vh; /* smaller space for mobile */
}

@media (min-width: 768px) {
  main {
    margin-top: 15vh; /* bigger space for desktop */
  }
}

